@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Activity details";
}

<div>
    <ol class="breadcrumb">
        <li> <span class="glyphicon glyphicon-envelope"></span> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
        
        <li> @Html.ActionLink(Model.Module.Course.Name, "CourseDetails", "Courses", new { id = @Model.Module.CourseId }, null) </li>
        <li> @Html.ActionLink(Model.Module.Name, "ModuleDetails", "Modules", new { id = @Model.ModuleId }, null) </li>
        <li class="active"> @Model.Type </li>
    </ol>
</div>

<h2>@Model.Type</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditActivity", new { id = Model.ActivityId }) |
    @Html.ActionLink("Back to module", "ModuleDetails", "Modules", new { id = Model.ModuleId}, null)
</p>
