@using LexiconLMS.Models
@model LexiconLMS.Models.ActivityDetailsViewModel

@{
    ViewBag.Title = "Activity details";
}

<div>
    <ol class="breadcrumb h3">
        @if (User.IsInRole("Teacher"))
        {
            <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
        }
        <li>@Html.ActionLink(Model.Acticity.Module.Course.Name, "CourseDetails", "Courses", new { id = Model.Acticity.Module.CourseId }, null)</li>
        <li>@Html.ActionLink(Model.Acticity.Module.Name, "ModuleDetails", "Modules", new { id = Model.Acticity.ModuleId }, null)</li>
        <li class="active"> @Model.Acticity.Type </li>
    </ol>

</div>

<div>
    <hr />
    <h3>Activity</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acticity.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acticity.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acticity.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acticity.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acticity.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acticity.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acticity.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acticity.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acticity.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acticity.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "EditActivity", new { id = Model.Acticity.ActivityId })<span>|</span>
    }
    @Html.ActionLink("Back to module", "ModuleDetails", "Modules", new { id = Model.Acticity.ModuleId }, null)
</p>

<hr />

@*2016-07-04, ym: nedan: skapar kod för dokument*@


<h4>Documents in activity</h4>

<table class="table table-striped table-hover">
    @{ var doc = new Document();}
    <tr>
        <th>
            @Html.DisplayNameFor(model => doc.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Description)
        </th>
        <th>
            Open file / Download
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.TimeStamp)
        </th>
        <th>
            Uploader
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.Documents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td style="text-align: center">
                <a class="viewc" href="@Url.Action("OpenFile", "Documents", new { @fileName = document.Name })">
                    <img width="16" height="16" border="0" src="~/Images/view.jpg" class="viewc">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Upload New Document", "AddDocument", "Documents", new { activityId = Model.Acticity.ActivityId }, null)
    </p>
}

<hr />
<h4>Student exercises</h4>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => doc.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.TimeStamp)
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.StudentExercises)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td style="text-align: center">
                <a class="viewc" href="@Url.Action("OpenFile", "Documents", new { @fileName = document.Name })">
                    <img width="16" height="16" border="0" src="~/Images/view.jpg" class="viewc">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }
</table>

@if (User.IsInRole("Student"))
{
    <p>
        @Html.ActionLink("Upload exercise", "AddDocument", "Documents", new { activityId = Model.Acticity.ActivityId }, null)
    </p>
}

    @*2016-07-04, ym: ovan: skapar kod för dokument*@