@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Activity details";
}

<div>
    <ol class="breadcrumb h3">
        @if (User.IsInRole("Teacher"))
        {
            <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
        }
        <li>@Html.ActionLink(Model.Module.Course.Name, "CourseDetails", "Courses", new { id = Model.Module.CourseId }, null)</li>
        <li>@Html.ActionLink(Model.Module.Name, "ModuleDetails", "Modules", new { id = Model.ModuleId }, null)</li>
        <li class="active"> @Model.Type </li>
    </ol>
        
</div>

<div>
    <hr/>
    <h3>Activity</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditActivity", new { id = Model.ActivityId }) |
    @Html.ActionLink("Back to module", "ModuleDetails", "Modules", new { id = Model.ModuleId }, null)
</p>

<hr />

@*2016-07-04, ym: nedan: skapar kod för dokument*@


<h4>Documents in activity</h4>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().TimeStamp)
        </th>
        <th>
            Uploader
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.Documents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Upload New Document", "AddDocument", "Documents", new { activityId = Model.ActivityId }, null)
</p>


@*2016-07-04, ym: ovan: skapar kod för dokument*@