@using System.Data.SqlTypes
@using LexiconLMS.Models
@using Microsoft.AspNet.Identity
@model LexiconLMS.Models.ActivityDetailsViewModel

@{
    ViewBag.Title = "Activity details";
}

<div>
    <ol class="breadcrumb h3">
        @if (User.IsInRole("Teacher"))
        {
            <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
        }
        <li>@Html.ActionLink(Model.Activity.Module.Course.Name, "CourseDetails", "Courses", new { id = Model.Activity.Module.CourseId }, null)</li>
        <li>@Html.ActionLink(Model.Activity.Module.Name, "ModuleDetails", "Modules", new { id = Model.Activity.ModuleId }, null)</li>
        <li class="active"> @Model.Activity.Type </li>
    </ol>

</div>

<div>
    <hr />
    <h3>Activity</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "EditActivity", new { id = Model.Activity.ActivityId })<span>|</span>
    }
    @Html.ActionLink("Back to module", "ModuleDetails", "Modules", new { id = Model.Activity.ModuleId }, null)
</p>

<hr />

@*2016-07-04, ym: nedan: skapar kod för dokument*@


<h4>Documents in activity</h4>

<table class="table table-striped table-hover">
    @{ var doc = new Document();}
    <tr>
        <th>
            @Html.DisplayNameFor(model => doc.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.TimeStamp)
        </th>
        <th>
            Uploader
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Deadline)
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.Documents)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            @if (document.Deadline < DateTime.Now)
            {
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => document.Deadline)
                </td>
            }
            else if (document.Deadline < DateTime.Now.AddDays(2))
            {
                <td class="text-warning">
                    @Html.DisplayFor(modelItem => document.Deadline)
                </td>
            }
            else
            {
                <td class="text-success">
                    @Html.DisplayFor(modelItem => document.Deadline)
                </td>
            }
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Upload New Document", "AddDocument", "Documents", new { activityId = Model.Activity.ActivityId }, null)
    </p>
}

<hr />
<h4>Student exercises</h4>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => doc.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.TimeStamp)
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.StudentExercises)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Student"))
{
    <p>
        @Html.ActionLink("Upload exercise", "AddDocument", "Documents", new { activityId = Model.Activity.ActivityId }, null)
    </p>
}

    @*2016-07-04, ym: ovan: skapar kod för dokument*@