@model LexiconLMS.Models.TeacherViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Teacher Overview</h2>
<h3>Courses</h3>
<p>
    @Html.ActionLink("Add new course", "AddCourse", "Courses")
</p>

<table class="table table-striped table-hover" id="AddCourse">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CourseId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Courses)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{string startDate = item.StartDate.ToString("yyyy-MM-dd"); }
                @Html.DisplayFor(modelItem => startDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCourse", "Courses", new { id = item.CourseId }, null) |
                @Html.ActionLink("Details", "CourseDetails", "Courses", new { id = item.CourseId }, null) |
                @Html.ActionLink("Delete", "DeleteCourse", "Courses", new { id = item.CourseId }, null)
            </td>
        </tr>
    }
</table>

<hr/>

<h3>Teachers</h3>
<p>
    @Html.ActionLink("Add a Teacher", "Register", "Account")
</p>

<table class="table table-striped table-hover" id="CreateUsers">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }
</table>
