@model LexiconLMS.Models.Document

@{
    ViewBag.Title = "Document details";
}
<div>
    @if (Model.CourseId != null)
    {
        <ol class="breadcrumb h3">
            @if (User.IsInRole("Teacher"))
            {
                <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
            }
            <li>@Html.ActionLink(Model.Course.Name, "CourseDetails", "Courses", new {id = Model.CourseId}, null)</li>
            <li class="active"> @Model.Name </li>
        </ol>
    }
    @if (Model.ModuleId != null)
    {
        <ol class="breadcrumb h3">
            @if (User.IsInRole("Teacher"))
            {
                <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
            }
            <li>@Html.ActionLink(Model.Module.Course.Name, "CourseDetails", "Courses", new {id = Model.Module.CourseId}, null)</li>
            <li>@Html.ActionLink(Model.Module.Name, "ModuleDetails", "Modules", new {id = Model.ModuleId}, null)</li>
            <li class="active"> @Model.Name </li>
        </ol>
    }
    @if (Model.ActivityId != null)
    {
        <ol class="breadcrumb h3">
            @if (User.IsInRole("Teacher"))
            {
                <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
            }
            <li>@Html.ActionLink(Model.Activity.Module.Course.Name, "CourseDetails", "Courses", new {id = Model.Activity.Module.CourseId}, null)</li>
            <li>@Html.ActionLink(Model.Activity.Module.Name, "ModuleDetails", "Modules", new {id = Model.Activity.ModuleId}, null)</li>
            <li>@Html.ActionLink(Model.Activity.Type.ToString(), "ActivityDetails", "Activities", new {id = Model.ActivityId}, null)</li>
            <li class="active"> @Model.Name </li>
        </ol>
    }
</div>

<div>
    <hr/>
    <h3>Document</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            Uploader
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityId)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDocument", new {id = Model.DocumentId}) |


    @if (Model.CourseId > 0)
    {
        @Html.ActionLink("Back", "CourseDetails/" + Model.CourseId, "Courses")
    }

    @if (Model.ModuleId > 0)
    {
        @Html.ActionLink("Back", "ModuleDetails/" + Model.ModuleId, "Modules")
    }

    @if (Model.ActivityId > 0)
    {
        @Html.ActionLink("Back", "ActivityDetails/" + Model.ActivityId, "Activities")
    }

</p>