@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "CourseDetails";
}

<h2>@Model.Name</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Edit course", "EditCourse", new { id = Model.CourseId }) |
        @Html.ActionLink("Back to overview", "TeacherOverview", "Teacher")
    </p>
}
<hr />
<div>
    <h4>Students</h4>
    <dl class="dl-horizontal">
        @foreach (var student in Model.Students)
        {
            <dd>
                @Html.DisplayFor(modelItem => student.UserName)
            </dd>
        }
    </dl>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Add student to course", "AddStudent", new { id = Model.CourseId })
        <hr />
    }
</div>

       

<h4>Modules in course</h4>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modules.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.First().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.First().EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var module in Model.Modules)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => module.Description)
            </td>
            <td>
                @*Html.DisplayFor(modelItem => module.StartDate.ToString("yyyy-dd-MM"))*@
                @module.StartDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => module.EndDate)*@
                @module.EndDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.ActionLink("Details", "ModuleDetails", "Modules", new { id = module.ModuleId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditModule", "Modules", new { id = module.ModuleId }, null) <span>|</span>
                    @Html.ActionLink("Delete", "DeleteModule", "Modules", new { id = module.ModuleId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Add new module", "AddModule", "Modules", new { id = Model.CourseId }, null)
    </p>
}

<hr/>

@*2016-06-29, ym: nedan: skapar kod för dokument*@



    <h4>Documents in course</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents.First().TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents.First().User.Name)
            </th>
            <th></th>
        </tr>

    @foreach (var document in Model.Documents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId    }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null) <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

    </table>

    <p>
        @Html.ActionLink("Upload new document", "AddDocument", "Documents", new { courseId = Model.CourseId },null)
    </p>


@*2016-06-29, ym: ovan: skapar kod för dokument*@


