@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Edit module";
}

<h2>Edit @Model.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Module</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.ModuleId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @*@{string startDate = Model.StartDate.ToString("yyyy-MM-dd");
                }*@
                @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @*@{string endDate = Model.EndDate.ToString("yyyy-MM-dd");
                }*@
                @Html.EditorFor(model => Model.EndDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => Model.EndDate, "", new {@class = "text-danger"})
            </div>
        </div>

        @*2016-06-29, YM, man skall inte kunna ändra en vilken kurs en modul tillhör, så nedan ändras till att bli readonly*@
        <div class="form-group hidden">
            @Html.LabelFor(model => model.CourseId, "CourseId", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("CourseId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.CourseId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Course", "CourseDetails", "Courses", new {id = Model.CourseId}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}