@using LexiconLMS.Models
@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Module details";
}

<div>
    <ol class="breadcrumb">
        @if (User.IsInRole("Teacher"))
        {
            <li> @Html.ActionLink("Overview", "TeacherOverview", "Teacher") </li>
        }
        <li> @Html.ActionLink(Model.Course.Name, "CourseDetails", "Courses", new { id = Model.CourseId }, null) </li>
        <li class="active"> @Model.Name </li>
    </ol>
</div>

<hr />

<div>
    <h2>Module - @Model.Name</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.StartDate)*@
            @*@StartDate.ToString("yyyy-MM-dd")*@
            @{ var startDate = Model.StartDate.ToString("yyyy-MM-dd"); }
            @Html.DisplayFor(modelItem => startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.EndDate)*@
            @*@EndDate.ToString("yyyy-MM-dd")*@
            @{ var endDate = Model.EndDate.ToString("yyyy-MM-dd"); }
            @Html.DisplayFor(modelItem => endDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "EditModule", new { id = Model.ModuleId })
        <span>|</span>
    }
    @Html.ActionLink("Back to Course", "CourseDetails", "Courses", new { id = Model.CourseId }, null)
</p>

<hr />

<h4>Activities in module</h4>

@{ var activityInfo = Model.Activities.FirstOrDefault(); }
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(a => activityInfo.Type)
        </th>
        <th>
            @Html.DisplayNameFor(a => activityInfo.Description)
        </th>
        <th>
            @Html.DisplayNameFor(a => activityInfo.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(a => activityInfo.EndTime)
        </th>
        <th></th>
    </tr>

    @foreach (var activity in Model.Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => activity.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => activity.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => activity.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => activity.EndTime)
            </td>
            <td>
                @Html.ActionLink("Details", "ActivityDetails", "Activities", new { id = activity.ActivityId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditActivity", "Activities", new { id = activity.ActivityId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteActivity", "Activities", new { id = activity.ActivityId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Add new activity", "AddActivity", "Activities", new { id = Model.ModuleId }, null)
    </p>
} @*2016-07-04, ym: nedan: skapar kod för dokument*@<hr />

<h4>Documents in module</h4>

<table class="table table-striped table-hover">
    @{ var doc = new Document();}
    <tr>
        <th>
            @Html.DisplayNameFor(model => doc.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => doc.TimeStamp)
        </th>
        <th>
            Uploader
        </th>
        <th></th>
    </tr>

    @foreach (var document in Model.Documents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => document.User.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DocumentDetails", "Documents", new { id = document.DocumentId }, null)
                @if (User.IsInRole("Teacher"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "EditDocument", "Documents", new { id = document.DocumentId }, null)
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteDocument", "Documents", new { id = document.DocumentId }, null)
                }
            </td>
        </tr>
    }

</table>

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Upload New Document", "AddDocument", "Documents", new { moduleId = Model.ModuleId }, null)
    </p>
}
@*2016-07-04, ym: ovan: skapar kod för dokument*@